* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}
/*
table{
    padding: 10px;
    height: 500px;
    width: 90%;
}

*/

/* form*/
form {
    border: 3px solid black;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

input[type = 'text'], input[type = 'date']{
    width: 100%;
    display: inline-block;
    padding: 8px 15px;
    margin: 20px auto;
    border-radius: 10px;
    font: 1rem;
}

input[type = 'submit'], input[type = 'reset'] {
    padding: 5px 10px;
    display: inline-block;
    margin: 15px;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
}
table.list {
    width: 1000px;

}

.tbody td {
    border: 3px solid black;
}
.listTableStore {
    border: 3px solid black;
    vertical-align: top;

}
.listTable th {
    border: 2px solid black;
    padding: 5px;
}
button {
    background-color: #eee;
    padding: 6px 12px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
}